@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --colour-focus: #61dbc9;
  --colour-white: #fff;
  --colour-black: #222;
  --colour-black-light: #333;
  --background-light: #f8e3c8;
  --background-light-opacity: #f8e3c8dd;

  --border: 3px solid black;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.5rem;
}

button {
  font-family: 'Playfair Display', serif;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: var(--colour-black);
  font-weight: 300;
  /* height: 100vh; */
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
  background-color: white;
}
ul {
  margin-left: 3rem;
  padding-bottom: 1rem;
}
